h1 {
    background-color: blue;
    color: lightblue;
    text-align: center;
    margin: 0px;

}

body {
    background-color: white;
    padding: 0;
    margin: 15px;
}

h4 {
    font-size: 30px;
    margin: 0px;


}

a {
    color: turquoise;

}

img {
    width: fit-content;
    height: fit-content;
}

body {
    background-color: teal;
}

.righty {
    margin-top: 20px;
    float: right;
    width: 33%;    
}

.middley {
    margin-top: 20px;
    color: turquoise;
    width: 30%;
    float: left;
   
}

.lefty {
    margin-top: 20px;
    color: turquoise;
    width: 33%;
    float: left;
    text-align: center;
}